@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/_LayoutOrgani.cshtml";
}


@*list tu controller index khong phan trang*@
@*@model List<TDanhMucSp>*@

@*list tu controller index co phan trang*@
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>

@*  @model List<TDanhMucSp> *@
@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham", item)

}
<div class="product__pagination">
    @* hien thi phan` phan trang tu 1 - 10 ... *@
    @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { page = page, maloai = ViewBag.maloai }))
</div>




